<?xml version="1.0" encoding="utf-8"?>
<!-- Review-only Windows/IIS template. Current application refuses Production startup. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1048576" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="dotnet" arguments=".\ResearchHub.dll" hostingModel="inprocess" stdoutLogEnabled="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="HUB_STORAGE_PROVIDER" value="SqlServer" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
