@use "uswds-core" with (
  $theme-font-path: "../fonts",
  $theme-image-path: "../img",
  $theme-font-type-sans: "public-sans",
  $theme-show-notifications: false,
  $theme-show-compile-warnings: false
);
@forward "uswds";
